@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

.cantenr {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

body {
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(17, 24, 41),
    rgb(26, 32, 69),
    rgb(17, 24, 41)
  );
}

.navbar {
  padding-top: 30px;
  display: flex;
  color: white;
  justify-content: space-between;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
}
.navbar__logo--img {
  width: 40px;
  height: 40px;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 17px;
}

.home,
.about,
.service,
.pricing,
.blog {
  color: white;
  text-decoration: none;
}

.navbar__lnks--btn {
  padding: 10px 20px;
  background: linear-gradient(to right, #d946ef, #2563eb);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 1s ease;
}
.navbar__lnks--btn:hover {
  padding: 10px 20px;
  background: linear-gradient(to right, #d946ef, #2563eb);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 1s ease;
  transform: scale(1.1);
}

.header__title--title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 546px;
  height: 348px;
  margin-top: 50px;
}

.header__title--name {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 58px;
  line-height: 84px;
  letter-spacing: 2%;
  background: linear-gradient(to left, #2563eb, #d946ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__title--text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgb(102, 102, 102);
}

.header__title--button {
  display: flex;
  gap: 40px;
  text-align: center;
  margin-top: 40px;
}

.header__title--btn {
  width: 145px;
  height: 61px;
  background: linear-gradient(to left, #d946ef, #2563eb);
  border-radius: 30px;
  border: none;
  color: white;
  transition: all 0.5s ease;
}

.header__title--btn:hover {
  width: 145px;
  height: 61px;
  background: linear-gradient(to left, #d946ef, #2563eb);
  border-radius: 30px;
  border: none;
  color: white;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.header__title--link {
  width: 145px;
  height: 61px;
  background: transparent;
  border-radius: 30px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.service__title {
  text-align: center;
  margin-bottom: 60px;
}

.service__title--title {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 2%;
  color: white;
}

.service__title--subtitle {
  width: 587px;
  font-size: 16px;
  font-family: DM Sans;
  text-align: center;
  margin-left: 300px;
}

.service__card--image {
  background: linear-gradient(to bottom, #8a7fd9, #402f8f);
  width: 74px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 20px;
}

.service__card {
  width: 370px;
  height: 337px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background: linear-gradient(#0000000d, #0000000f);
  border-radius: 50px;
  padding-left: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.service__card--title__title {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 20px;
  margin-left: 50px;
}

.service__card--title__subtitle {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  margin-bottom: 50px;
}

.service__card--link {
  text-decoration: none;
  color: white;
  margin-left: 100px;
  margin-bottom: 30px;
}

.service__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;
}

.service__card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  box-shadow: 4px 4px 26px 12px rgba(255, 255, 255, 0.2);
}

.extra {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.extra__title--name {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 2%;
  margin-bottom: 40px;
}

.extra__title--text {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  margin-bottom: 40px;
}

.extra__title--btn {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 99px;
  height: 31px;
  border-radius: 7px;
  background: linear-gradient(to right, #d946ef, #2563eb);
  border: none;
  color: white;
  transition: all 1s ease;
  margin-left: auto;
}

.extra__title--btn:hover {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 99px;
  height: 31px;
  border-radius: 7px;
  background: linear-gradient(to right, #d946ef, #2563eb);
  border: none;
  color: white;
  transform: scale(1.1);
  transition: all 1s ease;
  box-shadow: 4px 4px 26px -5px rgba(255, 255, 255, 0.2);
}

.projects {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 40px;
}

.team__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  color: white;
}

.team__title--name {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.team__title--text {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 480px;
}

.team__card {
  background: linear-gradient(#0000000d, #0000000f);
  width: 270px;
  height: 266px;
  border-radius: 50px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.8s ease;
}

.team__card:hover {
  background: linear-gradient(#0000000d, #0000000f);
  width: 270px;
  height: 266px;
  border-radius: 50px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1.1);
  transition: all 0.8s ease-in-out;
  box-shadow: 4px 4px 47px 0px rgba(255, 255, 255, 0.2);
}

.team__title--name {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
}

.team__title--texte {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.team__cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.subscribe {
  background: linear-gradient(#0000000d, #0000000f);
  margin-top: 100px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  height: 295px;
  width: 1170px;
}

.subscribe__title--name {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 30px;
}

.subscribe__title--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.subscribe__input {
  width: 860px;
  height: 80px;
  border-radius: 80px;
  font-size: 18px;
  outline: none;
  border: none;
  background: linear-gradient(to right, #ffffff0d, #0000000f);
  color: white;
  padding-left: 10px;
}

.footer {
  margin-top: 100px;
  color: white;
}

.footer__title--logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__title--name {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.location,
.phone,
.email {
  display: flex;
  margin-top: 10px;
  align-items: end;
  gap: 10px;
}

.footer__title__text {
  margin-top: 30px;
}

.footer {
  height: 250px;
}

.icons {
  display: flex;
  margin-top: 40px;
  font-size: 30px;
}

.navbar__bar--icons {
  border: none;
  background-color: #00000000;
  color: white;
  display: none;
}

@media (max-width: 1062px) {
  .header__title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header__title--title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__title--button {
    margin-left: 100px;
  }

  .header__immage--img {
    width: 300px;
    height: 300px;
  }

  .navbar__links {
    display: none;
  }

  .navbar__bar--icons {
    display: block;
  }

  .navbar__lnks--btn {
    display: none;
  }

  .navbar__logo {
    margin-right: 450px;
  }

  .header__title--text {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 15px;
    margin-right: 100px;
    color: rgb(102, 102, 102);
    margin-left: 30px;
  }

  .service__title {
    text-align: center;
    margin-bottom: 60px;
  }

  .service__title--title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 26px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 2%;
    color: white;
  }

  .service__title--subtitle {
    font-size: 16px;
    font-family: DM Sans;
    text-align: center;
    margin-left: 170px;
  }

  .service__cards {
    justify-content: center;
  }

  .team__cards {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .extra__title--name {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 26px;
    line-height: 52px;
    letter-spacing: 2%;
    margin-bottom: 40px;
  }

  .extra__title--text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
    letter-spacing: 0%;
    margin-bottom: 40px;
  }

  .extra__img--images {
    width: 300px;
  }

  .team__card--title {
    display: flex;
    flex-shrink: 1;
  }

  .subscribe {
    width: 100vw;
  }

  .subscribe__input {
    width: 70vw;
    padding-left: 10px;
  }
}

@media (max-width: 720px) {
  .header__title--text {
    display: none;
  }

  .navbar__logo {
    margin-right: 350px;
  }

  .service__title--subtitle {
    font-size: 16px;
    font-family: DM Sans;
    text-align: center;
    margin-left: 50px;
  }

  .header__immage--img {
    margin-bottom: 125px;
  }

  .service__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .subscribe {
    width: 80vw;
    height: 40vh;
  }

  .subscribe__input {
    width: 70vw;
    padding-left: 40px;
  }

  .team__card {
    background: linear-gradient(#0000000d, #0000000f);
    width: 270px;
    height: 266px;
    border-radius: 50px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.8s ease;
  }

  .service__title--subtitle {
    font-size: 16px;
    font-family: DM Sans;
    text-align: center;
    margin-left: 300px;
  }
}
